<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <a class="navbar-brand" href="#">
            <img src="https://logopond.com/logos/70a5a28358a0f80718ac4f6737f018ae.png" alt="Logo" style="width:40px;">
          </a>
        <li class="nav-item">
            <a class="nav-link" routerLink='employees' routerLinkActive="active">Employee List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='add-employee' routerLinkActive="active">Add Employee</a>
        </li>
    </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span>All Rights Reserved By Rahul @Mits </span>
    </div>
</footer>