<h2>Employee List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th class="text">Action</th>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>
                <button (click)='updateEmp(employee.id)' class="btn btn-info"> Update</button>
                <button (click)='deleteEmp(employee.id)' class="btn btn-danger"> Delete</button>
                <button (click)='viewEmp(employee.id)' class="btn btn-info"> View</button>
           
            </td>
        </tr>
    </tbody>

</table>